<div id="wrapper">
    <!-- ===============PANEL A=============== -->
    <div id="a" class="panels">
        <img id="biliard11" [src]="biliard1" alt="BiliardImg">
        <div id="biliard12">
            <h3>BILIARD</h3>
            <br>
            <p>
                <strong>Biliardul</strong> este o familie de jocuri ce sunt jucate pe o masă cu șase găuri numite buzunarele mesei, cu tac, folosit pentru a lovi bilele, ca acestea să se miște pe suprafața mesei. El este cunoscut ca fiind un joc de amatori ce se joacă prin baruri.
            </p>
        </div>

        <div>
            <h3>ISTORIA BILIARDULUI</h3>
            <p>
                Istoria biliardului începe undeva prin secolul 15 în Europa. Se spune că acesta a evoluat dintr-un joc cu bețe și bile jucat pe o peluză, acesta fiind asemănător, în forma sa inițială, cu golful sau croquet-ul. Cuvântul „biliard” provine din unul dintre cele două cuvinte franțuzești, „billart” (băț) sau „bille” (bilă), deși originea lui exactă rămâne încă incertă. Iată o scurtă cronologie a jocului de biliard, din timpuri străvechi, începând cu anii 1400, și ajungând până aproape de zilele noastre!
            </p>
            <p>
                Cei mai mari pasionați de biliard au fost: Mozart, regele Ludovic al XIV-lea al Franței, Maria Antoinetta, Immanuel Kant, Abraham Lincoln, Mark Twain, George Washington, președintele francez Jules Grevy, Charles Dickens, George Armstrong Custer, Theodore Roosevelt, Lewis Carrol, W.C. Fields, Babe Ruth, Bob Hope, Jackie Gleason și mulți alții!
            </p>
        </div>
    </div>
    <!-- ===============PANEL B=============== -->
    <img id="b" class="panels" [src]="biliard2" alt="BiliardImg">

    <!-- ===============PANEL C=============== -->
    <br>
    <div id="c" class="panels">
        <img id="bolwing11" [src]="bowling1" alt="BowlingImg">
        <div id="bowling12">
            <h3>BOWLING</h3>
            <p>
                <strong>Bowlingul </strong>este un sport în care jucătorii încearcă să obțină puncte rostogolind o bilă pe o suprafață plană (de obicei de lemn sau sintetică), fie într-un număr de jaloane, fie în alte bile-țintă. Există mai multe varietăți de bowling, unul dintre cel mai recente și populare (mai ales în Statele Unite ale Americii) fiind cel cu 10 jaloane. Dovezi ale unor jocuri asemănătoare datează încă din anul 300 d.Hr. în Germania, Finlanda și Yemen.
            </p>
        </div>
        <div>
            <br>
            <h3>TIPURI DE BOWLING</h3>
            <ul>
                <li>tenpin: Se joacă cu cele mai mari și mai grele (10) jaloane, cu bilă grea și mare, în special în America de Nord.</li>
                <li>ninepin: Jaloanele (în număr de 9) sunt, de obicei, agățate cu arcuri de vârf, se folosesc bile cu găuri pentru degete; este foarte popular în Europa.</li>
                <li>candlepin: Cele mai înalte și subțiri jaloane, iar bila are mâner.</li>
                <li>duckpin: Jaloanele sunt scurte, iar bila are mâner.</li>
                <li>fivepin: Jaloane medii ca înălțime, bilă cu mâner; se joacă în special în Canada.</li>
            </ul>
        </div>
    </div>
    <!-- ===============PANEL D=============== -->
    <img id="d" class="panels" [src]="bowling2" alt="BowlingImg">

    <!-- ===============PANEL E=============== -->
    <br>
    <div id="e" class="panels">
        <img id="darts11" [src]="darts1" alt="DartsImg">
        <div id="darts12">
            <h3>DARTS</h3>
            <p>
                <strong>Darts </strong>este un joc în care niște proiectile mici sunt aruncate pe o țintă fixată de un perete. Cu toate că în trecut existau mai multe variante de joc, astăzi prin acest termen se are în vedere un joc cu niște reguli stricte.
                Jocul apărut cu secole în urmă, în Insulele Britanice. Până în prezent, darts este un joc tradițional care este jucat în pub-uri din Marea Britanie, Olanda, Scandinavia, Statele Unite ale Americii și altele. În plus darts se joacă și la nivel profesionist.
            </p>
        </div>
        <div>
            <h3>REGULAMENT</h3>
            <p>Ținta standard este împărțită în douăzeci de secțiuni numerotate, de obicei alb și negru, fiecare atribuită cu un număr de la 1 la 20. În centru se află "Mărul" (în engleză Bullseye), care este estimat la 50 de puncte, înconjurat de un inel verde în jurul valorii de 25 puncte. Inelul exterior îngust presupune o dublare a numărului de sectoare, inelul interior îngust înseamnă triplul numărului de sectoare. Și inelele interioare și exterioare înguste sunt în mod tradițional colorate în roșu și verde.

                Rezultatul maxim posibil de 3 aruncări - 180 de puncte (în cazul în care jucătorul primește toate darts-urile în sectorul inelul interior îngust).
                
                Notă: Jucătorii standard folosesc darts-uri cu greutate ce nu depășește 50 de grame. În cazul jocului amator (neclasificat) nivel acceptabil este de a utiliza sulițe care pot cântări și mai mult de 50 de grame, dar această excepție se face pentru jocuri din afara campionatelor. Greutatea medie a darts-ului variază între 19 - 25 de grame. Până în prezent, producătorii celor mai renumite echipamente pentru darts sunt: Unicorn, Grape, Nodor, Winmau. Jucătorii profesioniști folosesc o săgeată din wolfram și din nichel, in timp ce jucatorilor novice li se potrivesc darts din alamă.</p>
        </div>
    </div>
<!-- ===============PANEL F=============== -->
    <img id="f" class="panels" [src]="darts2" alt="DartsImg">
</div>